@media (max-width: 1024px) {
    .mainLeft {
        left: 0 !important;
    }

    .mainRightBottom {
        right: -2.5rem !important;
        bottom: -2.5rem !important;
        transition: all .2s ease;
    }

    .mainLeftBottom {
        bottom: -2.5rem !important;
        left: -2.5rem !important;
        transition: all .2s ease;
    }
}

@media (max-width: 768px) {
    .mainLeftCloud {
        left: -10px !important;
        top: -10px !important;
    }
}

@media (max-width: 480px) {
    .mainLeft {
        left: 0 !important;
    }

    .mainRightBottom {
        right: -.8rem !important;
        bottom: -.8rem !important;
        transition: all .2s ease;
    }

    .mainLeftBottom {
        bottom: -.8rem !important;
        left: -.8rem !important;
        transition: all .2s ease;
    }

}

.scroll-downs {
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20rem;
}

.mousey {
    cursor: pointer;
    width: 3px;
    padding: 10px 15px;
    height: 35px;
    border: 2px solid #000000;
    border-radius: 25px;
    opacity: 0.75;
    box-sizing: content-box;
}

.scroller {
    width: 3px;
    height: 10px;
    border-radius: 25%;
    background-color: #000000;
    animation-name: scroll;
    animation-duration: 2.2s;
    animation-timing-function: cubic-bezier(.15, .41, .69, .94);
    animation-iteration-count: infinite;
}

@keyframes scroll {
    0% {
        opacity: 0;
    }

    10% {
        transform: translateY(0);
        opacity: 1;
    }

    100% {
        transform: translateY(15px);
        opacity: 0;
    }
}

.aboutus {
    position: relative; /* 추가 */
    background-color: #0E3E30;
}

.aboutus-end {
    background: url("/img/waveline.png") no-repeat center center;
    background-size: 100% auto;
}
